/* styles.css */
.navbar-container {
    /* Atur ukuran logo */
    width: 200px;
    height: 50px;
    /* Atur margin atau padding jika diperlukan */
  }

  .logo-container {
    /* Atur ukuran logo */
    width: 100px;
    /* Atur margin atau padding jika diperlukan */
  }
  